@import '../../styles/variables';

.input {
  position: relative;
  display: flex;
  max-width: 9rem;
  border: $border-width solid rgba($dark, 50%);
  background: rgba($dark, 50%);
  background-clip: content-box;

  $class: &;

  &__text {
    @extend %default-text;

    display: flex;
    justify-content: center;
    align-items: center;
    color: $background;
    min-width: 4rem;
  }

  &__input {
    @extend %default-text;

    width: 100%;
    outline: none;
    border: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      cursor: pointer;
    }

    &::selection {
      color: $background;
      background: rgba($dark, 50%);
    }

    &:disabled {
      ~ #{$class}__police-tape {
        display: block;
      }
    }
  }

  &__police-tape {
    $dark25: rgba($dark, 25%);
    $dark75: rgba($dark, 75%);

    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(45deg, $dark25, $dark25 4px, $dark75 4px, $dark75 8px);
  }
}
