//-
  options.checked - если true, то кнопка изначально будет в состоянии checked
  options.text - текст кнопки
mixin toggle(options = {})
  - const { checked = false, text = '' } = options;

  label.toggle
    input.toggle__input(type = "checkbox" checked = checked)
    span.toggle__text= text
    span.toggle__mark
      span.toggle__police-tape
